<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jing.app.jjgallery">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FileManagerBlue">
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.STYLE"
            android:value="fixedRatio" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name=".viewsystem.main.login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewsystem.main.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".viewsystem.main.filesystem.FileManagerActivity"
            android:configChanges="orientation|screenSize"/>

        <service android:name=".service.file.FileDBService" />

        <activity android:name=".viewsystem.sub.thumb.ThumbActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".viewsystem.sub.surf.SurfActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".viewsystem.main.order.SOrderActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".viewsystem.sub.wall.WallActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".viewsystem.main.timeline.TimeLineActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>